body {
  margin-top: 40px;
}
.basics-nav {
  background-color: #7ece25;
}
.basics-nav .navbar-brand {
  color: #e3ffc7;
}
.basics-nav .navbar-nav li a {
  color: #e3ffc7;
}
.basics-nav .navbar-nav .dropdown-menu a {
  color: #000;
}
/* AngularJS */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none;
}
.form.ng-invalid {
  background: red;
}
